/* eventInfo page */


#eventImageSection{
    float: right;
    margin: 20px;
}

/* about us page */
/* #fullPage{
    background-color: #f4ebec;
    color: #F5F4F0;
    padding-top: 1px;
    font-family: 'Courier New', Courier, monospace;

} */

#whoAreWe{
    background: linear-gradient(45deg, #593F91 , #887aa6);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px;
  
}
#whoAreWe h1{
    font-size: 50px;
    font-weight: bold;
}
.button {
background-color: #176B87; 
color: #F5EFE7; 
padding: 10px 25px;
border-radius: 50px;
border: 2px groove #176B87;
text-decoration: none;
transition: background-color 0.3s, color 0.3s; 

}
.button:hover {
background-color: #F5EFE7; 
color: #176B87; 
}

/* About section */
.page-section{
  padding: 50px;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline-heading {
    margin-top: 0;
    color: #01A8A3;
}



x
.subtext , .subheading{
    color: #ffffff;
    line-height: 1.75;
}

/* timeline */
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    width: 80px;
    height: 80px;
    padding-top: 10px;
    text-align: center;
    color: #2664A6;
    border: 4px solid #2664A6;
    border-radius: 100%;
    background-color: #e9ecef;
}


/* inverted timeline */
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline-panel {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 30px;
    margin-top: 20px;

}
.timeline-panel:hover {
    box-shadow: #593F91 0px 0px 50px 15px;
    background: #593f91a0;
    color: #176B87;
}
.portfolio-link {
    color: #01A8A3;
    text-decoration: none;
    border: 1px solid #01A8A3;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .portfolio-link:hover {
    border-style: outset;
    background-color: #01A8A3;
    color: white;
  }
  .portfolio-link:active{
    border-style: outset;
    background-color: #01A8A3;
    color: white;
  }


@media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }
  @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }
  @media (min-width: 1400px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
  }
  @media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }}
  @media (min-width: 992px){
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }}
  @media (min-width: 768px){
  .container-md, .container-sm, .container {
      max-width: 720px;
  }}
  @media (min-width: 576px){
  .container-sm, .container {
      max-width: 540px;
  }}
