
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* page style main */
#fullPage{
    background-color: #f4ebec;
    color: #F5F4F0;
    padding-top: 1px;
} 

/* text style */
.section-heading{
    font-size: 40px;
    font-weight: bold;
    color: #F1916D;
}

.section-subheading{
    font-size: 1rem;
    font-style: italic;
    color:#887aa6;
    margin-bottom: 4rem;
}

/* nav style */
.navbar{
    background-color: #f5d7df;
    padding: 1rem 1rem;
    font-size: 17px;
    font-weight: bold;
}

.nav-title, .nav-link {
    transition: color 0.3s, text-shadow 0.3s; 
}

.nav-title:hover, .nav-link:hover {
    text-shadow: 2px 2px 15px #F5EFE7; 
}
#nav.navbar {
    box-shadow: 0 10px 10px rgba(146, 143, 143, 0.756); 
  }
  
#nav.navbar.navbarScroll {
    box-shadow: 0 10px  10px rgba(207, 192, 192, 0.756); 
}
  
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

#nav .navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

#nav .navbar-nav .nav-item {
    padding: 0 15px; 
}

/* style button, class "btn" */
  
.btnAllPageButton {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #f1916d;
  
    margin: 14px 0;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .btnAllPageButton:hover {
    background: #ecc2c2;
  }
  
  

/* footer style */
#footer {
    background-color: #473E66
}
  
.Copyright {
    border-top: 2px solid #ffffff;
    padding: 20px;
}
  
.container-fluid {
    margin-bottom: 0;

}

.iconStyle:hover{
    cursor: pointer;
    stroke-width: 5;
    margin: 0;
    transform: rotate(15deg);
}
