body{
    font-family: 'Courier New', Courier, monospace;
}

#fullPage{
    background-color: #f4ebec;
    color: #F5F4F0;
    padding-top: 1px;
    font-family: 'Courier New', Courier, monospace;

} 

.section-heading{
    font-size: 40px;
    font-weight: bold;
    color: #F1916D;
}

.section-subheading{
    font-size: 1rem;
    font-style: italic;
    color:#887aa6;
    margin-bottom: 4rem;
}