
  
    
.Desgin_all_content {

  background: linear-gradient(45deg, #593F91 , #887aa6);

  display: grid;
  grid-template-columns: 1fr 1fr;
  
 
}

.left_side {
   margin-top: 200px;
   
   text-align: center;
 
  


}
#pForintro{
  color: #f5d7db;
}

.right_side {
 margin-left: 100px;
 width: 100px;
 padding: 10px;
 
}
h1{
  
  color: #ffe186;
  margin-bottom: 70px;
 
}
.left_side  p{
  color: #e7e7e7;
}

.card{
  border-radius: 20px;

}


.BigConitiner{
  
  
  display: flex;
  justify-content: center; /* Horizontally center the element */
  align-items: center; /* Vertically center the element */
  margin-right:250px ;
  
  }




.card:hover{
 

  border: 6px solid  #887aa6;
    
}



.BigConitiner > h2{
  color: aliceblue;
  
}


p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}



.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #25524a;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.grid {
 
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 900px;
  

}

.service {

  background: rgb(243, 168, 141);
  color: black;
  
  margin: 10px;
  padding: 20px;
 

}
.card-title{
  margin-top: 10px;
}
img{
border-radius: 10px;


}


.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}


.ForBorder:hover {
  border: 6px solid  #887aa6;

}



.service > * {
  flex: 1 1 100%;
}
.CurrentConferences
{
  font-size: 40px;
  font-weight: bold;
  color: #F1916D;

  border-radius: 100px;
  
}

  
  
.btnAllPageButton {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #f1916d;

  margin: 14px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.btnAllPageButton:hover {
  background: #ecc2c2;
}







    
 

@media (min-width: 576px) and (max-width: 768px) {
  .Desgin_all_content{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 100px;
   
  }
  .right_side {
   display: none;
    
   }

   .left_side{
    margin-bottom: 100px;
   }
   .grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 250px;
   }
  }

   @media (max-width: 992px){
  
   
    .grid{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 25px;
      width: 100px;

     }



  

  

    
 
}




   
  
    



  






  


