body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #f5d7db;

 
}


.Desgin_all_content {

  background: linear-gradient(45deg, #593F91 , #887aa6);
 border-radius: 30px 30px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
 
}

.left_side {
  margin-top: 200px;
  margin-left: 40px;
   width: 700px;
  text-align: center;
 
  


}
#pForintro{
  color: #f5d7db;
}

.right_side {
 margin-left: 100px;
 
}
h1{
  
  color: #ffe186;
  margin-bottom: 70px;
 
}
.left_side  p{
  color: #e7e7e7;
}

.card{
  border-radius: 20px;

}




.BigConitiner{
 margin-left: 170px;
}
#nav{
  background-color: aliceblue;

}



.card:hover{
 
  border: 6px solid #0debeb;
    
}



.BigConitiner > h2{
  color: aliceblue;
}



a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
}

p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}



h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 1.825rem;
  margin: 1.3rem 0;
}

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  max-width: 900px;
  

}

.service {
  background: #fff;
  margin: 20px;
  padding: 20px;

  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;

}
img{
border-radius: 10px;


}


.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}


.LEAP:hover {
  border: 6px solid #ebd10d;
}



.service > * {
  flex: 1 1 100%;
}
.containerForFooter {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e7e7e7;
  
}


.footerAboutus h3 {
  margin-top: 100px;
  color: #188c88;
  font-size: 18px;
}
.btn{
  background-color: #01A8A3;
}
@media all and (max-width:500px) {
  .grid {
 
    display: grid;
    grid-template-columns: 1fr;
    background-color: none;
    flex-direction: column;
  }
}






