* {
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Courier New', Courier, monospace;
   
    
  }
  
  .container{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #nav{
    background-color: #2664a2; 
  }
   .nav-link {
     transition: color 0.5s;
     text-shadow: 0.5s; 
  }

   .nav-link:hover {
    text-shadow: 1px 1px 15px #3E4950; 
  }
  #nav.navbar {
    box-shadow: 0 10px 10px #3E4950; 
  }
  
.footer .social-media a{
  padding: 1em;
}
.social-media a{
    font-size: 1.5em;
    padding-right: 30px;
    color: black;
  }
  .social-media:hover{
    box-shadow: 0 0px 16px  #D8C4B6;
  }

#fullPage{
  background-color: #f4ebec;
  color: #F5F4F0;
  padding-top: 1px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

#Vision{
  background: linear-gradient(45deg, #593F91 , #887aa6);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 40px;
}

#Vision p{
  font-size: 20px;
  font-weight: 600;
  text-align: center ;
  justify-content: center;
  letter-spacing: 1px;
}

#Vision h3{
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(45deg, #593F91 , #887aa6);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  margin: 40px;
  color: #f5d7db;
  }
  .img-fluid{
  width: 300px;
  height: 200px;
}

.button {
  background-color: #593F91; 
  text-align: center;
  color: #F5EFE7; 
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px groove #176B87;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; 
  margin: 200px;
  }
  .button:hover {
  background-color: #F5EFE7; 
  color: #176B87; 
  box-shadow: 2px 2px 5px rgb(134, 133, 133);
  }
  .scroll{
    margin-left: 700px;
 
  }
  .scroll:hover{
    box-shadow: 2px 2px 5px rgb(134, 133, 133);
  }

  .button-text{
    margin: 70px;
  }
/*
.col-md-8{
  border: 1px solid black;
  padding: 10px;
 }
.col-md-8 .image{
  margin-left: 500px;
}
.col-md-8 p{
  margin-top: 30px;
}
.col-md-4 p{
  border: 1px solid black;
  padding: 50px;
  margin-top: 100px;
}*/
  .main-section{
    border: 1px solid black;
    margin: 10px 0px 0px 0px;
    text-align: center;
    padding: 130px;
    background-color: #3E4950;
  }
 

  .main-section p{
    text-align: center;
    color: #ffffff;
    width: 100%;

  }
  
  .bi {
    color: #ffffff;
  }

 .main-content{
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 30px;
 }
  .content{
    margin: 10px 0px 0px 0px;
    text-align: center;
    padding: 30px;
   
  }
  
  .main-section button{
  
     font-size: 15px;
     text-align: center;
  
  }
    #main-idea img{
    margin-top: 150px;
    border: 2px solid black;
    
    }

  #main-idea h3{
    font-weight: 800;
    color: #D8C4B6;
    font-weight: bold;
    background: linear-gradient(45deg, #2664a2 , #887aa6);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 120px;
  }

  #main-idea p{
    margin: 50px 0px 50px 0px;
    padding: 80px;
    color: #F1916D;
    font-weight: 700;
    font-size: 19px;
  }
  .hackathons{
    padding: 100px;
    background-color: #f5d7db;
  }
  .card-title{
    font-weight: bold;
  }
  .card{
    background-color: white;
    box-shadow: 0 5px 20px rgba(1, 1, 1, 20%);
    padding: 5px;
    border-radius: 10px;
    margin: 15px 0px 20px 0px;
  }
 .card:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}
  footer {
    background: linear-gradient(45deg, #593F91 , #887aa6);
    padding: 20px;
    text-align: center;
    justify-content: center;
   }
    footer .col-lg-6 {
      display: inline-block;
      text-align: left;
      padding: 20px;
    }
    
  .Vision-image{
    mix-blend-mode: color-burn;
   }

  footer img {
    display: inline-block;
    text-align: right;
    padding: 20px;
  }
  
  @media screen and (max-width: 900px) {
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .nav-link {
      font-size: 14px;
    }
  
    .footer .social-media a {
      padding: 0.5em;
    }
  
    #Vision {
      padding: 20px;
      margin: 20px;
    }
  
    .button-text {
      margin: 30px;
    }
  
    .col-md-8 {
      padding: 5px;
    }
  
    .col-md-8 .image {
      margin-left: 0;
    }
  
    .col-md-4 p {
      padding: 20px;
      margin-top: 50px;
    }
  
    .main-section {
      padding: 70px;
    }
  
    #btn {
      margin-top: 30px;
    }
  
    .main-section p {
      font-size: 14px;
    }
  
    .main-content {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  
    .content {
      padding: 15px;
    }
  
    #main-idea img {
      margin-top: 50px;
    }
  
    #main-idea h3 {
      font-size: 1.2rem;
      margin: 30px;
      margin-bottom: 5px;
    }
  
    #main-idea p {
      padding: 70px;
    }
  
    .hackathons {
      padding: 50px;
    }
    .footer {
      padding: 20px;
      text-align: center;
    }
  
    .footer .logo {
      margin-bottom: 10px;
    }
  
    .footer .social-media {
      margin-top: 20px;
    }
  
    .footer .social-media a {
      display: inline-block;
      margin: 0 10px;
      font-size: 16px;
      padding: 5px;
    }
  
    .footer .copyright {
      margin-top: 20px;
      font-size: 12px;
    }
  }
  