/* all important styles */


/* nav bar */
/* #nav{
    background-color: #4b72b2;  
} */

/* eventInfo page */
#eventImageSection{
    float: right;
    margin: 20px;
}





/* about us page */
body{
    font-family: 'Courier New', Courier, monospace;
}

#fullPage{
    background-color: #3e4950;
    color: #F5F4F0;
    padding-top: 1px;
    font-family: 'Courier New', Courier, monospace;

}


.infoCard {
    background: #01A8A3;
    color: #F5F4F0;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .infoCard:hover {
    background: #887aa6;
    color: #F5F4F0;
  }
  
  .infoCard img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .infoCard h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .infoCard p {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .infoCard a {
    display: inline-block;
    padding: 10px 15px;
    background: #176B87;
    color: #F5EFE7;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .infoCard a:hover {
    background: #F5EFE7;
    color: #176B87;
  }
  



#whoAreWe{
    background: linear-gradient(45deg, #593F91 , #887aa6);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px;
  
}
#whoAreWe h1{
    font-size: 50px;
    font-weight: bold;
}
.button {
background-color: #176B87; 
color: #F5EFE7; 
padding: 10px 25px;
border-radius: 50px;
border: 2px groove #176B87;
text-decoration: none;
transition: background-color 0.3s, color 0.3s; 

}
.button:hover {
background-color: #F5EFE7; 
color: #176B87; 
}

/* About section */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline-heading  {
    margin-top: 0;
    color: #01A8A3;
}
.section-heading{
    font-size: 50px;
    font-weight: bold;
}

.section-subheading{
    font-size: 1rem;
    font-style: italic;
    color:#887aa6;
    margin-bottom: 4rem;
}
.subtext , .subheading{
    color: #ffffff;
    line-height: 1.75;
}

/* timeline */
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    width: 80px;
    height: 80px;
    padding-top: 10px;
    text-align: center;
    color: #2664A6;
    border: 4px solid #2664A6;
    border-radius: 100%;
    background-color: #e9ecef;
}


/* inverted timeline */
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
/* .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
} */
.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline-panel:hovor{
    background-color: #887aa6;
    color: #837644;
    transition: background-color 0.3s, color 0.3s;
}
  
.timeline-panel {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

/* Define the hover styles for the timeline-panel */
.timeline-panel:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
}








@media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }
  @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }
  @media (min-width: 1400px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
  }
  @media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }}
  @media (min-width: 992px){
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }}
  @media (min-width: 768px){
  .container-md, .container-sm, .container {
      max-width: 720px;
  }}
  @media (min-width: 576px){
  .container-sm, .container {
      max-width: 540px;
  }}
