/* all important styles */


/* nav bar */
/* #nav{
    background-color: #4b72b2;  
} */

/* eventInfo page */
#eventImageSection{
    float: right;
    margin: 20px;
}





/* about us page */
body{
    font-family: 'Courier New', Courier, monospace;
}

#fullPage{
    background-color: #3e4950;
    color: #F5F4F0;
    padding-top: 1px;
    font-family: 'Courier New', Courier, monospace;

}


.infoCard {
    background: #01A8A3;
    color: #F5F4F0;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .infoCard:hover {
    background: #887aa6;
    color: #F5F4F0;
  }
  
  .infoCard img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .infoCard h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .infoCard p {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .infoCard a {
    display: inline-block;
    padding: 10px 15px;
    background: #176B87;
    color: #F5EFE7;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .infoCard a:hover {
    background: #F5EFE7;
    color: #176B87;
  }
  



#whoAreWe{
    background: linear-gradient(45deg, #593F91 , #887aa6);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px;
  
}
#whoAreWe h1{
    font-size: 50px;
    font-weight: bold;
}
.button {
background-color: #176B87; 
color: #F5EFE7; 
padding: 10px 25px;
border-radius: 50px;
border: 2px groove #176B87;
text-decoration: none;
transition: background-color 0.3s, color 0.3s; 

}
.button:hover {
background-color: #F5EFE7; 
color: #176B87; 
}
